mixin step_list_item($index, $title, $content)
    li.step-list__item.list-item
        span.step-list__item__index.blue=$index
        h3.step-list__item__title.green=$title
        p.step-list__item__content.text-body=$content


mixin section_getinto
    +section("claims")
        .section-getinto
            .image-container 
                img(src="./img/getinto.png", alt="", srcset="")
            .steps-container 
                h2.text-section__subtitle.blue Getting Insured Is Simple & Fast
                p.text-body Follow these easy steps to secure your insurance plan today. No complicated paperwork, no hidden fees – just reliable coverage in minutes!
                ol.steps-list
                    +step_list_item ("1 -", "Choose a Plan", "Browse through our range of insurance plans tailored for your needs. Whether you need health, life, car, home, or travel insurance, we have a plan that fits your lifestyle and budget.")
                    +step_list_item ("2 -", "Get a Free Quote", "Fill out a quick form with basic details, and our system will generate a personalized quote instantly. No commitments, no hidden charges—just a transparent breakdown of your insurance options.")
                    +step_list_item ("3 -", "Apply Online", "Once you’ve chosen your plan, complete the application online in a few simple steps. Our digital process ensures secure and hassle-free enrollment—no lengthy paperwork required.")
                    +step_list_item ("3 -", "Get Covered Instantly", "Once your application is reviewed and approved, your policy becomes active immediately. You’ll receive a digital copy of your insurance documents, and you’re fully protected from day one.")