mixin benefits_card($title, $description, $icon, alt="")
    li.benefits-card
        .benefit-card__icon
            .card-icon 
                .icon__container 
                    .icon__img
                        img(src="./icons/" + $icon, alt=$alt, srcset="")
        .benefit-card__title 
            h3.text-vignette.green=$title
        .benefit-card__content
            p.text-body=$description

mixin section_benefits
    +section("benefits")
        .section-benefits
            .benefits-header 
                .benefits-header__container 
                    h2.text-section__subtitle.blue Why Thousands Trust Us for Their Insurance Needs
                    p.text-body Reliable, affordable, and hassle-free insurance solutions tailored for you. With 24/7 support and quick claims processing.
            ul.benefits-body
                +benefits_card("Custom Plans Available", "Select from a variety of plans designed to fit your lifestyle, needs, and budget, ensuring the right coverage for you and your family.", "icon_plans.png", "Custom Plans Available")
                +benefits_card("Support Anytime Anywhere", "Get professional assistance 24/7 from our dedicated team, ready to guide you through policies, claims, and insurance solutions anytime.", "icon_support.png", "Support Anytime Anywhere")
                +benefits_card("Quick Claims Process", "Enjoy a fast, simple, and transparent claims process with minimal paperwork, ensuring swift approvals and hassle-free payouts.", "icon_process.png", "Quick Claims Process")
                +benefits_card("Secure and Private", "Your personal data and transactions are fully protected with the latest encryption, ensuring security and confidentiality at all times.", "icon_secure.png", "Secure and Private")
                +benefits_card("Global Coverage Plans", "Stay protected wherever you go with worldwide insurance coverage, offering peace of mind for both travel and daily life.", "icon_coverage.png", "Global Coverage Plans")
                +benefits_card("Affordable Premium Options", "Get high-value insurance plans with transparent pricing, no hidden fees, and competitive rates tailored to your financial needs.", "icon_options.png", "Affordable Premium Options")
                