include ./partials/head.pug
include ./containers/main.pug
include ./containers/icon.pug
include ./components/navbar.pug
include ./containers/section.pug
include ./components/section_hero.pug
include ./components/section_benefits.pug
include ./components/section_getinto.pug
include ./components/section_getintouch.pug
include ./components/section_footer.pug

- var title = "Shield Plus - Smart Insurance for Your Home";
- var description = "Shield Plus is a smart insurance solution that provides comprehensive coverage for your home, ensuring peace of mind and protection against unexpected events.";
- var url = "https://shield-plus.com/";
- var keywords = "insurance, home insurance, smart insurance, Shield Plus, coverage, protection, peace of mind, unexpected events, comprehensive coverage";

+html
    +head(title, description, keywords, title, description, url, "website", "https://shield-plus.com/img/", "1200", "630")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    +body
        +main
            +navbar
            +section_hero
            +section_benefits
            +section_getinto
            +section_getintouch
            +section_footer